name: Build Rpm File

on: workflow_call

jobs:
  build:
    runs-on: ubuntu-latest
    container: fedora:latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
        with:
          fetch-depth: 0

      - run: sudo dnf install -y rpmdevtools rpmlint pandoc tree
      - run: ./scripts/build-rpms.sh

      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4  # v5.0.0
        with:
          name: rpm-deliverables
          path: |
            ./*.rpm
            ./*.rpm.*sum
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4  # v5.0.0
        with:
          name: rpm-working-files
          path: ~/rpmbuild/
